.player {
    width: 250px;
    display: flex;
    align-items: center;
    background-color: #51be9f36;
    box-shadow: 0 5px 0px #51BE9F;
    color: aliceblue;
    border-radius: 50px 0 0 50px;
    position: absolute;
    z-index: 100;
    opacity: 0.5;
    filter: grayscale(1);
    span {
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        margin-left: 16px;
    }
    img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.player-pos {
    position: absolute;
    right: 0 !important;
}

.player-active {
    opacity: 1;
    filter: grayscale(0);
}

.more-players {
    img {
        width: 30px;
        height: 30px;
    }
}