.player {
    width: 300px;
    display: flex;
    align-items: center;
    background-color: #fff5;
    box-shadow: 0 3px 3px #0003;
    border-radius: 12px 0 0 12px;
    padding: 10px 5px;
    position: absolute;
    right: 0;
    top: 120px;
    span {
        font-size: 32px;
        margin-left: 16px;
    }
    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.player-pos {
    position: absolute;
    right: 0;
}