<div class="start-screen">
  <div class="header">
    <img class="head-img" src="assets/img/start_header.png" />
    <div class="start-label-box">
      <!-- JOIN LOBBY -->
      <div class="joinlobby">
        <div *ngIf="showLobby" class="lobby-box">
          <h2>Current Games</h2>
          <div class="current-games">
            <!-- TEST GAME 1 -->
            <div
              class="game"
              *ngFor="let game of existingGameId; let i = index"
              (click)="joinGame(existingGameId[i])"
            >
              <div class="id">ID: {{ existingGameId[i] }}</div>
              <div class="players">Players: {{ existingGamePlayers[i] }}</div>
            </div>
          </div>
        </div>
        <img (click)="toggleLobby()" src="assets/img/joinlabel.png" />
      </div>
      <!-- JOIN LOBBY ENDE -->
      <img (click)="newGame()" src="assets/img/startlabel.png" />
    </div>
  </div>
</div>
