<div class="field">
    <div class="card-stack">
        <!-- Card Stack -->
        <img [ngStyle]="{'right.px': i * 4}" *ngFor="let c of [1, 2, 3, 4]; 
        let i = index;" src="/assets/img/cards/card_cover.png">
        <img (click)="takeCard()" [class.pick-card]="pickCardAnimation" class="top-card" style="right: 25px;" src="/assets/img/cards/card_cover.png">

        <!-- Stack for played cards -->
        <img *ngFor="let card of game.playedCard" class="played-card" src="/assets/img/cards/{{card}}.png">

        <!-- Current card (animation) -->
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card" style="right: 25px;" src="/assets/img/cards/{{currentCard}}.png">
    </div>
</div>