<div *ngIf="!gameIsOver()">
  <app-player
    (click)="editPlayer(i)"
    *ngFor="let player of game.players; let i = index"
    [ngStyle]="{ 'top.px': 100 + i * labelSpacing }"
    [playerActive]="i === game.currentPlayer"
    [moreThanFive]="game.players.length > 5"
    [name]="player"
    [playerImg]="game.playerImg[i]"
    class="player-pos hide-desktop"
  ></app-player>
  <div class="mobile-players">
    <app-player-mobile
      (click)="editPlayer(i)"
      *ngFor="let player of game.players; let i = index"
      [playerActive]="i === game.currentPlayer"
      [name]="player"
      [playerImg]="game.playerImg[i]"
      class="hide-mobile"
    ></app-player-mobile>
  </div>
</div>

<div *ngIf="gameIsOver()" class="game-over-overlay">
  <span>GAME OVER</span>
  <span class="back" (click)="backToLobby()">BACK TO LOBBY</span>
</div>

<div *ngIf="!gameIsOver()">
  <div class="field">
    <div class="card-stack">
      <!-- Card Stack -->
      <img
        [ngStyle]="{ 'right.px': i * 4 }"
        *ngFor="let c of [1, 2, 3, 4]; let i = index"
        src="assets/img/cards/card_cover.png"
      />
      <img
        *ngIf="!game.pickCardAnimation"
        (click)="takeCard()"
        [class.pick-card]="game.pickCardAnimation"
        class="top-card"
        style="right: 25px"
        src="assets/img/cards/card_cover.png"
      />

      <!-- Stack for played cards -->
      <img
        *ngFor="let card of game.playedCard"
        class="played-card"
        src="assets/img/cards/{{ card }}.png"
        matTooltip="Show last card."
        (mousedown)="showLastCard()"
        (mouseup)="hideLastCard()"
        (dragover)="hideLastCard()"
      />

      <!-- Show last card played -->

      <div *ngIf="lastCardDisplay" class="last-card">
        <img src="assets/img/cards/{{ lastCard }}.png" />
        <span>{{ gameInfoJson[+this.lastCard.split("_")[1] - 1].title }}</span>
      </div>

      <!-- Current card (animation) -->
      <img
        (click)="takeCard()"
        *ngIf="game.pickCardAnimation"
        class="pick-card"
        style="right: 25px"
        src="assets/img/cards/{{ game.currentCard }}.png"
      />
    </div>
  </div>

  <app-game-info [card]="game.currentCard"></app-game-info>

  <div class="buttons">
    <button
      mat-fab
      color="warn"
      (click)="openDialog()"
      style="background-color: #51be9f"
      matTooltip="Add a new player."
    >
      <mat-icon>add</mat-icon>
    </button>

    <button
      mat-fab
      color="warn"
      (click)="backToLobby()"
      style="background-color: #51be9f"
      matTooltip="Back to lobby."
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
</div>
