.field {
    background-image: url(../../assets/img/board.jpg);
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    img {
        width: 100%;
        object-fit: scale-down !important;
    }
}

.player-pos {
    position: absolute;
    right: 250px;
}

.mobile-players {
    position: absolute;
    right: 0;
    top: 0;
    left: 100px;
    display: flex;
    gap: 70px;
    // width: clamp(200px, 60vw, 450px);
    height: 110px;
    overflow-x: auto;
}

.card-stack {
    position: relative;
    img {
        position: absolute;
        width: 120px;
    }
    @media (max-height: 700px) {
        transform: translateY(-100px) !important;
    }
}



.top-card {
    cursor: pointer;
    &:hover {
        scale: 1.1;
        transform: rotate(-5deg) translateY(-10px);
        transition: all 200ms ease-in-out;
    }
}

$dropCard: 200px;
$rotationAngle: -5deg;
.pick-card {
    animation: pickCardAnimation 2s ease-in-out;
    transform: scale(1) rotate(0deg) translateY(-50px)translateX($dropCard)
}

.played-card {
    right: 25px;
    transform: scale(1) rotate(0deg) translateY(-50px)translateX($dropCard);
}

.last-card {
    position: absolute;
    right: 90px;
    display: flex;
    flex-direction: column;
    span {
        position: absolute;
        width: 200px;
        font-size: 16px;
        color: #51BE9F;
        font-weight: bold;
        transform: scale(1) translateY(260px)translateX(145px);
    }
    img {
        transform: scale(0.6) translateY(-20px)translateX($dropCard);
        top: 120px;
        opacity: 0.5;
    }
}

@keyframes pickCardAnimation {
    0% {
        transform: scale(1) rotate($rotationAngle) translateY(-10px)
    }
    30% {
        transform: scale(1) rotate($rotationAngle) translateY(-50px)translateX(50)
    }
    85% {
        transform: scale(1.8) rotate($rotationAngle) translateY(-10px)
    }
    100% {
        transform: scale(1) rotate(0deg) translateY(-50px)translateX($dropCard);
    }
}

.buttons {
    position: absolute;
    bottom: 40px;
    right: 40px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 770px){
    .buttons {
        bottom: unset !important;
        right: unset !important;
        top: 20px;
        left: 20px;
    }
}

.game-over-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #111;
    width: 100%;
    height: 100vh;
    z-index: 2000;
    font-size: 64px;
    color: aliceblue;
}

app-player,
app-player-mobile {
    cursor: pointer;
    &:hover {
        filter: brightness(1.1);
    }
}