.field {
    background-image: url("/assets/img/board.jpg");
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    img {
        width: 100%;
        object-fit: scale-down !important;
    }
}

.player-pos {
    position: absolute;
    right: 250px;
}

.card-stack {
    position: relative;
    img {
        position: absolute;
        width: 120px;
    }
}

.top-card {
    cursor: pointer;
    &:hover {
        scale: 1.1;
        transform: rotate(-5deg) translateY(-10px);
        transition: all 200ms ease-in-out;
    }
}

$dropCard: 200px;
$rotationAngle: -5deg;
.pick-card {
    animation: pickCardAnimation 2s ease-in-out;
    transform: scale(1) rotate(0deg) translateY(-50px)translateX($dropCard)
}

.played-card {
    right: 25px;
    transform: scale(1) rotate(0deg) translateY(-50px)translateX($dropCard);
}

@keyframes pickCardAnimation {
    0% {
        transform: scale(1) rotate($rotationAngle) translateY(-10px)
    }
    30% {
        transform: scale(1) rotate($rotationAngle) translateY(-50px)translateX(50)
    }
    85% {
        transform: scale(1.8) rotate($rotationAngle) translateY(-10px)
    }
    100% {
        transform: scale(1) rotate(0deg) translateY(-50px)translateX($dropCard);
    }
}

.btn-add {
    position: absolute;
    bottom: 40px;
    right: 40px;
}