.player {
  overflow: hidden;
  width: 60px;
  height: 100px;
  display: flex;
  flex-direction: column-reverse;
  background-color: #51be9f36;
  box-shadow: 0 5px 0px #51BE9F;
  color: aliceblue;
  border-radius: 0 0 50px 50px;
  position: absolute;
  z-index: 100;
  opacity: 0.5;
  filter: grayscale(1);

  span {
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    padding: 0 5px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
  }

  img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.player-pos {
  position: absolute;
  right: 0px !important;
}

.player-active {
  opacity: 1;
  filter: grayscale(0);
}

// .more-players {
//     img {
//         width: 30px;
//         height: 30px;
//     }
// }