.card {
    position: absolute;
    bottom: 32px;
    right: 0px;
    left: 0px;
    height: 150px;
    padding: 10px clamp(5px, 5vw, 20px);
    color: aliceblue;
    max-width: 1000px;
    margin-left: 120px;
    margin-right: 120px;
}

.card-content {
    font-size: clamp(12px, 4vw, 18px);
    text-align: justify;
    overflow-y: auto;
}

@media (max-width: 770px) {
    .card {
        bottom: 0 !important;
        margin-left: unset;
        margin-right: unset;
    }
}