.card {
    position: absolute;
    bottom: 32px;
    right: 0px;
    left: 0px;
    height: 160px;
    padding: 10px 20px;
    color: aliceblue;
    max-width: 1000px;
    margin-left: 120px;
    margin-right: 120px;
}

.card-content {
    font-size: 18px;
    text-align: justify;
}